<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tegar Bagus Santoso</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  html, body {
    /* Ditambahkan linear-gradient hitam transparan sebelum url gambar agar gambar gunung terlihat lebih gelap/kontras */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("{{ url_for('static', filename='4k_Mountain_Peak.jpg') if image_in_static else '/4k_Mountain_Peak.jpg' }}") no-repeat center center fixed;
    background-size: cover;
  }
</style>
</head>
<body>
      
<div class="wrapper">
<form action="/" method="post">
<h2>Flask Caesar</h2>

<div class="input-field">
  <input type="text" name="namaDepan" required>
  <label>Enter first name</label>
</div>

<div class="input-field">
  <input type="text" name="namaBelakang" required>
  <label>Enter last name</label>
</div>

<button type="submit">Kirim</button>
</form>
</div>

</body>
</html>
