<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tegar Bagus Santoso</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  html, body {
    background: url("{{ url_for('static', filename='4k_Mountain_Peak.jpg') if image_in_static else '/4k_Mountain_Peak.jpg' }}") no-repeat center center fixed;
    background-size: cover;
  }
</style>
</head>
<body>
      
<div class="wrapper">
<h2>Flask Encryptor</h2>
<p><strong>Nama Original:    </strong> {{ nama_asli }}</p>
<p><strong>Nama Terenkripsi:</strong> {{ nama_encrypt }}</p>
<p>Selamat Datang di Pemrograman Python!</p>
</div>

</body>
</html>
